# Timezone
TZ=Europe/Madrid

# User permissions
PUID=1000
PGID=1000

# Base data path (mounted disk / RAID)
DATA_PATH=/mnt/data

# Plex
PLEX_CLAIM=

# Tailscale
TAILSCALE_AUTHKEY=

# Pi-hole
PIHOLE_PASSWORD=
