{
    email {env.CADDY_EMAIL}
}

(cf_tls) {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

# --- HTTPS via Cloudflare DNS (Tailscale access) ---
https://raspi.platanosverdes.com {
    import cf_tls
    reverse_proxy homepage:3000 {
        flush_interval -1
    }
}
https://jellyfin.platanosverdes.com {
    import cf_tls
    reverse_proxy jellyfin:8096
}
https://overseerr.platanosverdes.com {
    import cf_tls
    reverse_proxy overseerr:5055
}
https://plex.platanosverdes.com {
    import cf_tls
    reverse_proxy host.docker.internal:32400
}
https://grafana.platanosverdes.com {
    import cf_tls
    reverse_proxy grafana:3000
}
https://prometheus.platanosverdes.com {
    import cf_tls
    reverse_proxy prometheus:9090
}
https://push.platanosverdes.com {
    import cf_tls
    reverse_proxy pushgateway:9091
}
https://prowlarr.platanosverdes.com {
    import cf_tls
    reverse_proxy prowlarr:9696
}
https://radarr.platanosverdes.com {
    import cf_tls
    reverse_proxy radarr:7878
}
https://sonarr.platanosverdes.com {
    import cf_tls
    reverse_proxy sonarr:8989
}
https://torrent.platanosverdes.com {
    import cf_tls
    reverse_proxy qbittorrent:8080
}
https://speedtest.platanosverdes.com {
    import cf_tls
    reverse_proxy speedtest-tracker:80
}
https://pihole.platanosverdes.com {
    import cf_tls
    reverse_proxy host.docker.internal:8081
}
# --- HTTP (LAN short names) ---
http://raspi http://homepage {
    reverse_proxy homepage:3000
}
http://jellyfin {
    reverse_proxy jellyfin:8096
}
http://overseerr {
    reverse_proxy overseerr:5055
}
http://plex {
    reverse_proxy host.docker.internal:32400
}
http://grafana {
    reverse_proxy grafana:3000
}
http://prometheus {
    reverse_proxy prometheus:9090
}
http://push {
    reverse_proxy pushgateway:9091
}
http://prowlarr {
    reverse_proxy prowlarr:9696
}
http://radarr {
    reverse_proxy radarr:7878
}
http://sonarr {
    reverse_proxy sonarr:8989
}
http://flare {
    reverse_proxy flaresolverr:8191
}
http://torrent {
    reverse_proxy qbittorrent:8080
}
http://speedtest {
    reverse_proxy speedtest-tracker:80
}
http://pihole {
    reverse_proxy host.docker.internal:8081
}

# --- External services (companion repos via docker-compose.override.yml) ---
import /etc/caddy/services/*.caddy
import /etc/caddy/ext-services/*.caddy
