{
    auto_https off
}

# Tailscale Shortcuts
(tailscale) {
    reverse_proxy 100.125.71.20:{args[0]}
}

# --- MEDIA ---
http://raspi {
    import tailscale 3001
}
http://plex {
    import tailscale 32400
}
http://overseerr {
    import tailscale 5055
}
http://jellyfin {
    import tailscale 8096
}

# --- MONITORING ---
http://grafana {
    import tailscale 3000
}
http://prometheus {
    import tailscale 9090
}
http://push {
    import tailscale 9091
}

# --- INDEXERS & DOWNLOADS ---
http://prowlarr {
    import tailscale 9696
}
http://radarr {
    import tailscale 7878
}
http://sonarr {
    import tailscale 8989
}
http://flare {
    import tailscale 8191
}
http://torrent {
    import tailscale 8080
}

# --- MANAGEMENT ---
http://speedtest {
    import tailscale 8443
}
http://pihole {
    import tailscale 8081
}